.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #e3e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet{
    display: none;
}
.swiper-slide img {
    display: block;
    width: 100%;
    z-index: 0;
    height: 430px;
    object-fit: cover;
    object-position: top;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.swiper-button-prev , .swiper-button-next{
    color: black;
    padding: 90px 20px;
    top: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.swiper-button-prev:hover , .swiper-button-next:hover{
    border: 2px solid blue;

}