*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Medium.ttf) format('truetype');
 }
body{
  font-family: Roboto;
  background-color: #e3e6e6;
}